<div class=header-menu1>
  <div class="header1-title d-flex">
    <p>新規タスク作成</p>
    <div class="ml-5"><%= link_to "タスクボードに戻る", root_path, class:"back"  %></div>
  </div>
</div>
<div class="new-task-field">
  <div class="container-fliud">
    <div class="new-form-area row">
      <div class="new-task-form col-8 offset-2">
        <%= form_with model:@task, local: true do |f| %>
          <div class="mt-5">
          <%= f.label :date,"日付を選択：", class:"date-form-label" %>
          <%= f.date_field :date, value: Time.now.strftime("%Y-%m-%d"),class:"date-form" %>
          </div>
        <div class="mt-3">
          <%= f.text_field :title, placeholder: "タスク名（最大40字）",class:"title-form", maxlength:"40"%>
        </div>
        <div>
          <%= f.text_area :text, placeholder: "タスクの説明を入力してください（任意）", class:"text-form" %>
          <%= render 'shared/error_messages',model: f.object %>
        </div>
          <%= f.hidden_field :done ,:value => 1 %>
        <div class="mt-3">
          <%= f.submit "タスクを追加する" ,class:'new-submit-btn'%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
