<div class=header-menu1>
  <div class="header1-title">
    <p>タスク詳細</p>
  </div>
</div>

<div class="show-task-field">

<div class="container-fluid">
  <div class="show-task-contents row">
    <div class="col-xl-6">
      <div class="show-task-area col-10 offset-1 ">

      <div class="date-name row">
        <div class="col-6">
      <p class="show-date"><%= @task.date %></p>
      <p class="show-user-name"><%= @task.user.name %>さんのタスク</p>
        </div>
        <div class="edit-delete-link col-6">
          <%= link_to "編集" , edit_task_path, class:"edit-link"%>
          <%= link_to "削除" , task_path(@task.id),method: :delete, class:"delete-link"%>
        </div>
      </div>

      <div class="show-task-title">
      <p><%= @task.title%></p>
      </div>
      <div class="show-task-text">
      <p><%= @task.text%></p>
      </div>
      <div class="mt-5">
        <%= link_to "タスクボードに戻る", root_path, class:"root-link"%>
      </div>
    </div>
    </div>

    <div class="col-xl-6">
      <div class="comments-area col-10 offset-1">
        <p>comment area</p>
      </div>
    </div>

  </div>
</div>

</div>
