<div class=header-menu1>
  <div class="header1-title d-flex">
    <p>タスク詳細</p>
    <div class="ml-5"><%= link_to "タスクボードに戻る", root_path , class:"back" %></div>
  </div>
</div>

<div class="show-task">
  <div class="show-task-field container-fluid">
    <div class="show-task-contents row">
      <%#タスク詳細%>
      <div class="col-lg-6">
        <div class="show-task-area col-10 offset-1 ">
          <div class="date-name-box row">
            <div class="show-date-box">
              <%= @task.date.strftime("%Y年%m月%d日") %>
            </div>
            <div class="show-name-box">
              <%= @task.user.name %>さんのタスク
            </div>
            <% if current_user.id == @task.user.id%>
            <div class="edit-delete-box">
              <%= link_to "編集" , edit_task_path, class:"edit-link"%>
              <%= link_to "削除" , task_path(@task.id),method: :delete, class:"delete-link"%>
            </div>
            <% end %>
          </div>
          <div class="show-task-title">
            <p><%= @task.title%></p>
          </div>
          <div class="show-task-text">
            <p><%= @task.text%></p>
          </div>
        </div>
      </div>
      <%#コメント%>
      <div class="col-lg-6">
        <div class="comments-area col-10 offset-1">
          <div class="message-lists" id='messages'>
            <% @messages.reverse_each do |message| %>
              <div class="message-box mb-3">
                <p><%= message.name %>：<%= message.datetime %></p>
                <p><%= message.message %></p>
              </div>
            <% end %>
          </div>
          <div class="message-form">
            <%= form_with(model:[@task, @message]) do |f| %>
              <div class="mt-3">
                <%= f.text_area :message, placeholder:"メッセージを入力", class:"message-text-form", id:"message-text" %>
                <%= f.hidden_field :name, :value => current_user.name %>
                <%= f.hidden_field :datetime, :value => DateTime.now.strftime("%Y年%m月%d日 %H:%M:%S") %>
              </div>
              <div class="mt-1">
                <%= f.submit '送信', class:"message-submit-btn" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <%#コメント%>
    </div>
  </div>
</div>