<%#各ユーザーのタスク管理ページ%>
<main>
  <% if user_signed_in? %>
    <div class="container-fluid">

  <%# header 1 %>
    <div class="header-menu1 row">
      <div class="task-board-name d-flex">
        <P class="mr-3"><%= @user.name %>さんのタスクボード</p>
        <p><%= @date.strftime("%Y年%m月%d日") %></p>
      </div>
      <div class="project-select-box">
        <%= link_to "プロジェクト選択", projects_path, class:"project-select-btn" %>
      </div>
    </div>

  <%# header2 %>
    <div class="header-menu2 row">
      <%= form_with(model:@task, metod: :post,local: true) do |f| %> 
        <div class="date-select">
          <%= f.date_field :date, value:@date ,class:"date-select-form"%>
          <%= f.submit "日付変更" ,class:"change_date_btn"%>
        </div>
      <%end%>
      <% if current_user.id == @user.id %>
        <div class="new-task-box ml-3">
          <%= link_to "新規タスク作成", new_task_path ,class:"new-task-btn"%>
        </div>
      <% end %>
      <div class="task-status-box ml-3">
        <p>タスク数：<%= @today_tasks %> 完了済：<%= @dones %> 進捗率：<%= @progress %>％</p>
      </div>
      <%= render partial:"tasks/dropdownmenu" %>
    </div>

    <%# タスク表示画面 %>
    <div class="task-field row">
      <div class="task-lists col-sm-7 ml-auto mr-auto">
        <% @tasks.each do |task|%>
          <div class="task-list row mt-5 mb-5">
            <div class="task-title col-8">
              <%= task.title %>
            </div>
            <div class="col-4 d-flex justify-content-around align-items-center">
              <div class="show-link">
                <%= link_to "詳細", task_path(task.id), class:"show-link" %>
              </div>
              <%# ユーザー条件により表示変更%>
              <% if current_user.id == task.user_id %>
                <div class="delete-link">
                  <%= link_to "削除", task_path(task.id),method: :delete, class:"delete-link"%>
                </div>
                <div class="done-link">
                  <% if task.done == 1 %>
                    <%= link_to "完了", task_done_update_path(task.id), method: :post ,class:"done1-btn link-btn"%>
                  <% else %>
                    <%= link_to "完了済", task_done_remove_path(task.id),method: :post ,class:"done0-btn link-btn"%>
                  <% end %>
                </div>
              <% else %>
                <div class="done-link">
                  <% if task.done == 0 %>
                    <%= link_to "完了済", "#", class:"done0-btn link-btn" %>
                  <% end %>
                </div>
              <% end%>
              <%#ユーザー条件により表示変更%>
            </div>
          </div>
        <%end%>
      </div>  
    </div>
  <% else %>
    <%= render 'tasks/infomation' %>
  <% end %>
</main>
