<%#CSSはapp/assets/stylesheets/projects/projects.scssと共通%>
<div class="header-menu1">
  <div class="header1-title col-3">
    <p>プロジェクト作成</p>
  </div>
</div>

<div class="project-index">
  <div class="project-field">
    <div class="project-lists">

      <%= form_with model:@project, locals: true do |f| %>
        <%= f.label :project_name,"プロジェクト名：",class:"project-name-label"%>
        <%= f.text_field :project_name , placeholder:"プロジェクト名を入力してください", class:"project-name-form"%>
        <div class="member-select">
          <select name="project[user_ids][]">
          <option value="">プロジェクトメンバーを選択してください</option>
          <% User.where.not(id:current_user.id).each do |user| %>
            <option value=<%= user.id %>><%= user.name %></option>
          <% end %>
          </select >
          <input name="project[user_ids][]" type="hidden" value=<%= current_user.id %>>
        </div>
        <div class="new-project-submit">
        <%= f.submit "プロジェクト作成", class:"new-project-submit-btn"%>
        </div>
      <% end %>

    </div>
  </div>
</div>