<%#一部CSSはapp/assets/stylesheets/projects/projects.scssと共通%>
<div class="header-menu1">
  <div class="header1-title d-flex">
    <p>プロジェクト概要</p>
    <div class="ml-5"><%= link_to "プロジェクトリストに戻る", projects_path, class:"back"  %></div>
  </div>
</div>
<div class="project-index">
  <div class="project-field">
    <div class="project-lists">
      <div class="project-list project-name d-flex">
        <p class="mr-3">プロジェクト名：</p>
        <p><%= @project.project_name %></p>
      </div>
      <div class="project-list">
        <p>メンバーリスト：</p>
        <% @project.users.pluck(:name ,:user_id).each do |name,id| %>
          <div class="d-flex member-list">
            <p class="mr-3">・<%= name %></p>
            <%= link_to "タスク管理画面へ", user_path(id) %>
          </div>
        <% end %>
      </div>
      <div class="text-center mt-5">
        <%= link_to "プロジェクトを削除する", project_path(@project.id), method: :delete, class:"project-delete"%>
      </div>
    </div>
  </div>
</div>