<div class=header-menu1>
  <div class="header1-title">
    <p>ログイン</p>
  </div>
</div>
<div class="devise-field">
  <div class="devise-contents">
    <div class="devise-form-field">
      <p>メールアドレスでログインする</p>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"devise-form" %>
        </div>
        <div class="field">
          <%= f.label :password, "パスワード" %><br />
          <%= f.password_field :password, autocomplete: "current-password",class:"devise-form" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "ログイン情報を記憶する" %>
          </div>
        <% end %>
        <div class="actions">
          <%= f.submit "ログイン", class:"devise-submit-btn"  %>
        </div>
      <% end %>
      <p>アカウントをお持ちでない方</p>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
