<div class=header-menu1>
  <div class="header1-title d-flex">
    <p>お問い合わせフォーム</p>
    <div class="ml-5"><%= link_to "タスクボードに戻る", root_path, class:"back" %></div>
  </div>
</div>

<div class="inquiry-field">
  <div class="inquiry-contents">
    <div class="inquiry-message">
      <p>※アプリ不具合、ご意見、各種お問い合わせは下記フォームより管理者へご連絡ください。<br>
      ※返信が必要な場合は返信用emailアドレスをご記入ください。返信まで時間を要する場合がございます。</p>
    </div>
    <%= form_with model:@inquiry, local: true do |f| %>
    <%= render 'shared/error_messages',model: f.object %>
      <div class="inquiry-name-box">
        <div class="inquiry-label">
          <p><%= f.label :name, "お名前（フルネーム）"%>：</p>
        </div>
        <div class="mb-3">
          <%= f.text_field :name, placeholder:"お名前を入力してください", class:"inquiry-name-form"%>
        </div>
      </div>
      <div class="inquiry-text-box">
        <div class="inquiry-label">
          <p><%= f.label :text, "お問い合わせ内容"%>：</p>
        </div>
        <div class="mb-3">
          <%= f.text_area :text, placeholder:"お問い合わせ内容を入力してください。返信が必要な場合は返信用emailアドレスを入力してください。", class:"inquiry-text-form"%>
        </div>
      </div>
      <div class="inquiry-send-box mb-3">
        <%= f.submit "送信する", class:"inquiry-send-btn"%>
      </div>
      <p>送信が完了するとタスクボードへ移動します。</p>
      <%= link_to "タスクボードに戻る", root_path%>
    <%end%>
  </div>
</div>